@keyframes fadeOverlay {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

#signup-form {
  position: relative;

  input {
    width: 100%;
    display: block;
    height: 47px;
    font-size: 20px;
    padding-left: 10px;
    font-family: $sans-serif;
    margin-bottom: 20px;
    border: 1px solid #cacaca;
    background-color: #efefef;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  @include clear();

  input[type="button"] {
    margin-bottom: 0;
    cursor: pointer;
    background: $headlineColor;
    border-color: #a91111;
    color: white;
    text-transform: uppercase;

    &:disabled {
      background: gray;
      border-color: gray;
      cursor: default;
    }
  }

  label[for="arrival"],
  label[for="size"] {
    font-family: $serif;
    margin-right: 10px;
    display: none;
  }

  &--overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.85);
    font-family: $sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &.hidden {
      display: none;
    }

    &.fade {
      animation-name: fadeOverlay;
      animation-duration: 3s;
      animation-delay: 3s;
    }

    .overlay-text {
      display: inline;


      &.error {
        color: $headlineColor;
      }

      &.success {
        color: $successColor;
      }
    }
  }
}
