#admin-page {
  font-family: $sans-serif;

  h1 {
    font-size: 50px;
    margin: 30px auto;
    text-align: center;
  }

  p {
    text-align: center;
    margin: 0 auto 30px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
  }

  #admin-display {
    border: 1px solid #ddd;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 100px;

    font-family: 'Helvetica Neue', Helvetica, sans-serif;

    td, th {
      height: 30px;
      padding: 5px 10px 5px;
      border: 1px solid #ddd;
    }

    th {
      font-family: $sans-serif;
      height: 40px;
      padding-top: 9px;
    }

    tr:nth-child( even ) {
      background-color: #efefef;
    }
  }
}